@media only screen and (min-width: 1200px){
	
}
@media only screen and (min-width: 992px){
	.fixed-sn main, .mobile-nofixed{
		margin-left: 240px;
	}
	.fixed-sn ul#slide-out{
		left:240px;
	}
	.collapse{
		display: hidden;
	}
}
@media only screen and (max-width: 992px){
	.collapse{
		display: block;
	}
}
@media only screen and (min-width: 544px){
	.container-fluid{
		margin-right: 0px;
	}
}
@media only screen and (min-width: 0px){
}

.side-nav,
.navbar{
	background: #002949 !important;
}

.fixed-sn main{
	margin-right: 0%;
}

#wrapper{
  position: relative;
}

meter{
	width: 100%;
}

.needle{
	position: absolute;
	left:46%;
	bottom: 0%;
	transform-origin: bottom center;
	transform: rotate(-90deg);
	animation:spin 4s linear infinite;
	height: 99%;
}

@-moz-keyframes spin { 
	from{
		-moz-transform: rotate(90deg);
	}
	to{
		-moz-transform: rotate(-90deg);
	}
}
@-webkit-keyframes spin { 
	from{
		-webkit-transform: rotate(90deg);
	}
	to{
		-webkit-transform: rotate(-90deg);
	}
}

meter::-webkit-meter-optimum-value {
  -webkit-transition: width .5s;
}

meter::-webkit-meter-optimum-value{
  /* Reset each sub-category to 20% */
  background-image: linear-gradient(
    90deg, 
    #8bcf69 20%, 
    #e6d450 20%,
    #e6d450 40%,
    #f28f68 40%,
    #f28f68 60%,
    #cf82bf 60%,
    #cf82bf 80%,
    #719fd1 80%,
    #719fd1 100%
  );
  transition: width .5s;
  width: 100% !important; /* !important required. to override the inline styles in WebKit. */
}